
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400&family=Poiret+One&display=swap');
$header-color: #6E030F;
$icon-color: #D0A0A2;
$font-family: 'Darker Grotesque', sans-serif;
$font-family1: 'Poiret One', cursive;
%font {
    font-family: $font-family;
    color: $header-color;
    font-size: 3vh;
  }
  footer{
      display: flex;
      align-items: center;
      justify-content: center;
    background-color: $header-color;
   height: 2em;
   width: 80em;
   text-align: center;
   color: $icon-color
}
body{
    background-color:rgba(208, 160, 162, 0.78);
    align-items: center;

}
.logoLogin{
    display: flex;
    width: 25em;
    align-items: center;
}

.login-form{
    display: flex;
    margin: 4px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 558px;
    height: 412px;
    left: 291px;
    top: 233px;
    background: rgba(177, 81, 92, 0.88);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    

}
.login-view{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
input{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 5vh;
    border-radius: 15px;
    border:none;
    margin:15px;
    padding:5px;
}

.login-btn{
    width: 150px;
    margin-top: 4em;
height: 30px;
left: 567px;
top: 646px;
color: $icon-color;
background: #7C1520;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
border:none;
}
.logout-btn{
    width: 150px;
    margin: 2em;
height: 30px;
left: 567px;
top: 646px;
color: $icon-color;
background: #7C1520;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
border:none;
}